<div>
  <h2>Inscription</h2>
  <form [formGroup]="loginForm" class="login-form">
    <div class="login-rows">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input
            matInput
            placeholder="Entrez votre nom"
            type="text"
            id="username"
            formControlName="username"
            #usernameInput
          />
        </mat-form-field>
      </p>

      <!-- <div style="display: flex" class="form-field"> -->
      <!-- <p>
          <label for="email">Adresse e-mail</label>
        </p> -->
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Adresse e-mail</mat-label>
          <input
            matInput
            placeholder="Entrez votre e-mail"
            type="email"
            id="email"
            formControlName="email"
          />
        </mat-form-field>
      </p>
      <!-- </div> -->

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            placeholder="Entrez votre mot de passe"
            type="password"
            id="password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <button
        type="submit"
        (click)="createUser()"
        [disabled]="loginForm.invalid"
      >
        S'inscrire
      </button>
    </div>
  </form>
</div>

<div *ngIf="message">
  {{ message }}
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<!-- Ajoute le lien vers le HomeComponent -->
<a routerLink="">Revenir en page d'accueil</a>
