<div>
  <h2>Inscription</h2>
  <form [formGroup]="loginForm" class="login-form">
    <div
      style="display: flex; flex-direction: column; gap: 10px; max-width: 50ch"
    >
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      class="form-field">
        <label for="username" style="width: 100px">Nom d'utilisateur</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          #usernameInput
          style="width: 100%"
        />
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      class="form-field">
        <label for="email" style="width: 100px">Adresse e-mail</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          style="width: 100%"
        />
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      class="form-field">
        <label for="password" style="width: 100px">Mot de passe</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          style="width: 100%"
        />
      </div>
      <button
        type="submit"
        (click)="createUser()"
        [disabled]="loginForm.invalid"
      >
        S'inscrire
      </button>
    </div>
  </form>
</div>

<div *ngIf="message">
  {{ message }}
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<!-- Ajoute le lien vers le HomeComponent -->
<a routerLink="">Revenir en page d'accueil</a>
