<div class="comments-container">
  <mat-list *ngIf="comments.length">
    <mat-card-subtitle class="title"> Commentaires </mat-card-subtitle>
    <mat-list-item *ngFor="let comment of comments">
      <div class="comment-list">
        <div class="comment-info">
          <span>{{ comment.userId }}</span>
          <span class="date">{{ comment.createdAt | date }}</span>
        </div>
        <mat-card class="comment-content">
          <span
            mat-line
            [innerHTML]="comment.content.split('\n').join('<br>')"
          ></span>
        </mat-card>
      </div>
    </mat-list-item>
  </mat-list>

  <div class="new-comment-row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Ajouter un commentaire...</mat-label>
      <textarea matInput [formControl]="commentCtrl" rows="4"></textarea>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="onLeaveComment()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
