// Importer les variables de style présentes dans le fichier _variables.scss
@import "../../../../styles/_variables.scss";

.login-header {
  height: $header-height;
  background-color: white; // Changer la couleur d'arrière-plan en blanc
  color: black; // Changer la couleur du texte en noir
  border-bottom: 2px solid black; //
}

.logo-image {
  height: $header-height; /* Vous pouvez ajuster cette valeur */
  vertical-align: middle;
  margin-right: 15px;
  height: calc($header-height * 1.6); // Augmente la hauteur de 50%
}

/* Media query pour les écrans de 500px ou moins */
@media (max-width: 500px) {
  .login-header {
    height: calc($header-height * 2); // Augmente la hauteur de 50%
    display: flex;
    align-items: flex-end; // Place le contenu en bas de la barre
    justify-content: center; // Centre le contenu horizontalement
    border-bottom: 0px; //
  }

  .logo-image {
    margin: 0; // Supprime la marge pour centrer le logo
    padding-bottom: 10px; // Petite marge en bas pour éviter que le logo touche le bord inférieur
  }
}
