
.custom-toolbar {
  height: 8rem; 
  background-color: white; // Changer la couleur d'arrière-plan en blanc 
  color: black; // Changer la couleur du texte en noir 
  border-bottom: 1px solid black; // 

}



.logo-image {
  height: 7rem; /* Vous pouvez ajuster cette valeur */
  vertical-align: middle;
  margin-right: 15px;
}
