<mat-card (click)="showArticleDetails(article)">
  <mat-card-header>
    <mat-card-title>
      <span>{{ article.title | titlecase }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{ article.publishedAt | date }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="article-content">{{ article.content }}</span>
  </mat-card-content>
  <!-- <mat-card-actions>
    <app-comments
      [comments]="article.comments"
      (newComment)="onNewComment($event)"
    ></app-comments>
  </mat-card-actions> -->
</mat-card>
