// Importer les variables de style présentes dans le fichier _variables.scss
@import "../../../../../styles/_variables.scss";

.article-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: flex-start;
  //height: 100vh;
  //width: 450px;
  width: 100%; // Prendre toute la largeur du conteneur .register-container
  margin: 0 auto; // Centrer le conteneur par rapport à l'écran

  padding: 10px 0; // Ajoutez un padding pour un peu d'espace en haut et en bas.
  background-color: #e07272; /* couleur de fond temporaire pour le dépannage */
}

.input-field {
  width: 80%;
  max-width: 500px;
  margin-bottom: 20px;
}

.create-button {
  width: 40%;
  max-width: 250px;
}

@media (max-width: 500px) {
  .article-form-container {
    //width: 300px;
    margin-top: 20px; /* ou la valeur que vous souhaitez */
  }
}

textarea {
  height: 250px; /* ou la hauteur que vous voulez */
}

/* Lien de retour - positionnement par défaut */
.back-icon {
  position: absolute;
  top: $header-height + 1.8; // Déplacez le lien juste en dessous du header (adaptez ce chiffre en fonction de la hauteur de votre header)
  left: 0;
  padding: 10px; // Pour donner un peu d'espace autour du lien
  z-index: 10; // Assurez-vous qu'il apparaît au-dessus des autres éléments
  font-size: $back-arrow-font-size; /* Ajustez cette valeur selon la taille souhaitée */
}

/* Lorsque la largeur de l'écran est de 500px ou moins */
@media (max-width: 500px) {
  .back-icon {
    top: $header-height; // Positionne le lien au-dessus du header
    left: 20px;
  }
}
