<div>
  <div *ngIf="article$ | async as article; else loadingTemplate">
    <div class="article-detail-container">
      <mat-card-title class="title">
        <span>{{ article.title | titlecase }}</span>
      </mat-card-title>
      <div class="metadata">
        <mat-card-subtitle class="date">
          <span>{{ article.publishedAt | date }}</span>
        </mat-card-subtitle>

        <mat-card-subtitle class="author">
          <span>{{ article.userId }}</span>
        </mat-card-subtitle>

        <mat-card-subtitle class="theme">
          <span>{{ article.subjectId }}</span>
        </mat-card-subtitle>
      </div>

      <mat-card-content class="content">
        <span class="article-content">{{ article.content }}</span>
      </mat-card-content>

      <div class="comments-section">
        <!-- Vous pouvez également envelopper la section des commentaires dans un conteneur si nécessaire pour des styles ou une logique supplémentaires. -->
        <app-comments
          [comments]="article.comments"
          (newComment)="handleNewComment($event)"
        ></app-comments>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
  <p>Loading...</p>
</ng-template>
