@import "../../../../../styles/_variables.scss";

.article-detail-container {
  display: grid;
  row-gap: 16px; // Espace entre les lignes
  grid-template-areas:
    "title"
    "metadata"
    "content"
    "comments";

  // Spécifiez la largeur et d'autres styles pour la carte selon vos besoins
  //   width: 500px;
  min-width: 650px;
  margin: 0 auto;
  //   border: 1px solid #e0e0e0;
  //   border-radius: 8px;
  //   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  overflow: auto; // Dans le cas où le contenu dépasse la hauteur de l'écran, une barre de défilement apparaîtra.

  width: 90%; // Augmente la largeur pour mieux remplir l'espace disponible
  min-width: 300px; // Réduit la largeur minimale pour permettre une meilleure adaptabilité

  // Réduisez le padding pour maximiser l'espace
  padding: 8px;
}

.mat-card-title {
  grid-area: title;
  font-size: 24px;
  margin-bottom: 8px;
}

.metadata {
  grid-area: metadata;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; // Les éléments s'empilent verticalement
  justify-content: flex-start;
  column-gap: 50px; // Réduit l'écart entre les éléments
  align-items: center; /* Ajoutez cette ligne */
  // mettre les élément en gras
  font-weight: bold;
}

.mat-card-content {
  padding-bottom: 10px;
  grid-area: content;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #979191;
    position: absolute;
    bottom: -16px; // Ajustez selon vos besoins
    left: 0;
  }
}

.comments-section {
  grid-area: comments;
}

/* Lien de retour - positionnement par défaut */
.back-icon {
  position: absolute;
  top: $header-height + 1.2; // Déplacez le lien juste en dessous du header (adaptez ce chiffre en fonction de la hauteur de votre header)
  left: 0;
  padding: 10px; // Pour donner un peu d'espace autour du lien
  z-index: 10; // Assurez-vous qu'il apparaît au-dessus des autres éléments
  font-size: $back-arrow-font-size; /* Ajustez cette valeur selon la taille souhaitée */
}

/* Lorsque la largeur de l'écran est de 500px ou moins */
@media (max-width: 500px) {
  .back-icon {
    //top: $header-height; // Positionne le lien au-dessus du header
    margin-left: 30px; // Décale le titre légèrement à droite
  }
}

@media (max-width: 500px) {
  .mat-card-title {
    margin-left: 50px; // Décale le titre légèrement à droite
  }
}
