<div>
  <h2>Nouveau thème</h2>
  <form [formGroup]="subjectForm">
    <div>
      <label for="name">Nom *</label>
      <input type="text" id="name" formControlName="name" #nameInput />
    </div>
    <div>
      <button
        type="submit"
        (click)="onSubmitForm()"
        [disabled]="subjectForm.invalid"
      >
        {{ isEdit ? "Modifier !" : "Créer !" }}
      </button>
    </div>
  </form>
</div>

<div *ngIf="message">
  {{ message }}
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<!-- Ajoute le lien vers le HomeComponent -->
<a routerLink="/mdd/subjects">Revenir</a>
